# Анализ базы данных сервиса для чтения книг

**Задача**

Коронавирус застал мир врасплох, изменив привычный порядок вещей. В свободное время жители городов больше не выходят на улицу, не посещают кафе и торговые центры. Зато стало больше времени для книг. Это заметили стартаперы — и бросились создавать приложения для тех, кто любит читать.

Анализируемая компания решила быть на волне и купила крупный сервис для чтения книг по подписке. Необходимо проанализировать базу данных.

**Описание данных**

Таблица books
    
    Содержит данные о книгах:
    - book_id — идентификатор книги;
    - author_id — идентификатор автора;
    - title — название книги;
    - num_pages — количество страниц;
    - publication_date — дата публикации книги;
    - publisher_id — идентификатор издателя.

Таблица authors
    
    Содержит данные об авторах:
    - author_id — идентификатор автора;
    - author — имя автора.

Таблица publishers
    
    Содержит данные об издательствах:
    - publisher_id — идентификатор издательства;
    - publisher — название издательства;

Таблица ratings
    
    Содержит данные о пользовательских оценках книг:
    - rating_id — идентификатор оценки;
    - book_id — идентификатор книги;
    - username — имя пользователя, оставившего оценку;
    - rating — оценка книги.

Таблица reviews
    
    Содержит данные о пользовательских обзорах:
    - review_id — идентификатор обзора;
    - book_id — идентификатор книги;
    - username — имя автора обзора;
    - text — текст обзора.

***Оглавление***

[Открытие файла с данными и изучение общей информации](#0)

[Задания](#1)

 * [Количество книг, вышедших после 1 января 2000 года](#2)

 * [Подсчёт для каждой книги количества обзоров и средней оценки](#3)

 * [Издательство, которое выпустило наибольшее число книг толще 50 страниц](#4)

 * [Автор с самой высокой средней оценкой книг](#5)

 * [Среднее количество обзоров от пользователей, которые поставили больше 48 оценок](#6)

<a id='0'></a>
## Открытие файла с данными и изучение общей информации

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
db_config = {'user': 'praktikum_student', 
 'pwd': 'Sdf4$2;d-d30pp', 
 'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
 'port': 6432, 
 'db': 'data-analyst-final-project-db'} 
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

In [3]:
tables = ['books', 'authors', 'publishers', 'ratings', 'reviews']

for table in tables:
    query = f"SELECT * FROM {table}"
    data = pd.io.sql.read_sql(query, con=engine)
    
    print("\n")
    print(f"--- {table} ---")
    
    display(data.sample(5, random_state=13))
    
    print("\nИнформация о таблице:")
    print(data.info())
    
    print("\nОтсутствующие значения:")
    print(data.isnull().sum())
    
    print("\nДублирующиеся строки:")
    print(data.duplicated().sum())

--- books ---

,book_id,author_id,title,num_pages,publication_date,publisher_id
945,946,459,Twenty Love Poems and a Song of Despair,70,2006-12-26,217
452,453,605,Mrs. Dalloway,194,2002-10-28,157
304,305,96,Haunted,419,2006-04-11,15
433,434,457,Metamorphoses,723,2004-08-03,210
864,865,560,The Secret Life of Bees,302,2003-01-28,212

Информация о таблице:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           1000 non-null   int64
 1   author_id         1000 non-null   int64
 2   title             1000 non-null   object
 3   num_pages         1000 non-null   int64
 4   publication_date  1000 non-null   object
 5   publisher_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB
None

Отсутствующие значения:
book_id             0
author_id           0
title               0
num_pages           0
publication_date    0
publisher_id        0
dtype: int64

Дублирующиеся строки:
0


--- authors ---

     author_id                                            author
572        573                   Theo LeSieg/Dr. Seuss/Roy McKie
606        607                       W. Chan Kim/Renée Mauborgne
157        158                                      Edward Albee
397        398  Mark Twain/Guy Cardwell/John Seelye/Walter Trier
533        534                                  Shel Silverstein

Информация о таблице:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author_id  636 non-null    int64
 1   author     636 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.1+ KB
None

Отсутствующие значения:
author_id    0
author       0
dtype: int64

Дублирующиеся строки:
0


--- publishers ---

     publisher_id              publisher
226           227            Plume Books
101           102                    Eos
67             68                  Crown
33             34  Ballantine Books (NY)
248           249                Rizzoli

Информация о таблице:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher_id  340 non-null    int64
 1   publisher     340 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.4+ KB
None

Отсутствующие значения:
publisher_id    0
publisher       0
dtype: int64

Дублирующиеся строки:
0


--- ratings ---

      rating_id  book_id       username  rating
2873       2874      446         paul88       2
4417       4418      696          amy97       5
1995       1996      308     jarvispaul       5
905         906      147  shafferrobert       3
5981       5982      931   johngonzalez       5

Информация о таблице:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6456 entries, 0 to 6455
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rating_id  6456 non-null   int64
 1   book_id    6456 non-null   int64
 2   username   6456 non-null   object
 3   rating     6456 non-null   int64
dtypes: int64(3), object(1)
memory usage: 201.9+ KB
None

Отсутствующие значения:
rating_id    0
book_id      0
username     0
rating       0
dtype: int64

Дублирующиеся строки:
0


--- reviews ---

,review_id,book_id,username,text
1647,1646,596,laura42,Home front reality than seat address. Little r...
2165,2165,779,yvasquez,Resource voice same ability audience leg base....
1741,1740,631,samuel96,Cut push black crime hand be. That left fire s...
2213,2213,797,carlsondean,Impact always follow. Policy when particular p...
1796,1795,650,emcdaniel,Wind painting boy. Dark receive list number by.

Информация о таблице:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2793 entries, 0 to 2792
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_id  2793 non-null   int64
 1   book_id    2793 non-null   int64
 2   username   2793 non-null   object
 3   text       2793 non-null   object
dtypes: int64(2), object(2)
memory usage: 87.4+ KB
None

Отсутствующие значения:
review_id    0
book_id      0
username     0
text         0
dtype: int64

Дублирующиеся строки:
0

**Вывод**

Данные были загружены и оценены. Пропусков и дубликатов не обнаружено.

<a id='1'></a>
## Задания

<a id='2'></a>
### Количество книг, вышедших после 1 января 2000 года

In [4]:
query = '''
        SELECT COUNT(*) AS book_count
        FROM books
        WHERE publication_date > '2000-01-01'
        '''
result = pd.io.sql.read_sql(query, con = engine)

book_count = result['book_count'].values[0]
print("Количество книг, вышедших после 1 января 2000 года:", book_count)

Количество книг, вышедших после 1 января 2000 года: 819

<a id='3'></a>
### Подсчёт для каждой книги количества обзоров и средней оценки

In [5]:
query = '''
SELECT books.book_id, 
       books.title, 
       COUNT(DISTINCT review_id) AS cnt_reviews, 
       ROUND(AVG(rating), 2) AS avg_rating
       
FROM books
LEFT JOIN reviews ON books.book_id = reviews.book_id
LEFT JOIN ratings ON books.book_id = ratings.book_id

GROUP BY books.book_id, books.title
ORDER BY title

'''
pd.io.sql.read_sql(query, con = engine)

,book_id,title,cnt_reviews,avg_rating
0,1,'Salem's Lot,2,3.67
1,2,1 000 Places to See Before You Die,1,2.50
2,3,13 Little Blue Envelopes (Little Blue Envelope...,3,4.67
3,4,1491: New Revelations of the Americas Before C...,2,4.50
4,5,1776,4,4.00
...,...,...,...,...
995,996,Wyrd Sisters (Discworld #6; Witches #2),3,3.67
996,997,Xenocide (Ender's Saga #3),3,3.40
997,998,Year of Wonders,4,3.20
998,999,You Suck (A Love Story #2),2,4.50
999,1000,Zen and the Art of Motorcycle Maintenance: An ...,4,3.83

<a id='4'></a>
### Издательство, которое выпустило наибольшее число книг толще 50 страниц

In [6]:
query = '''
        SELECT p.publisher, COUNT(b.book_id) AS book_count
        FROM publishers p
        INNER JOIN books b ON p.publisher_id = b.publisher_id
        WHERE b.num_pages > 50
        GROUP BY p.publisher
        ORDER BY book_count DESC
        LIMIT 1
        '''
publisher_result = pd.read_sql_query(query, con=engine)

publisher = publisher_result['publisher'].values[0]
book_count = publisher_result['book_count'].values[0]
print("Издательство:", publisher)
print("Количество книг:", book_count)

Издательство: Penguin Books
Количество книг: 42

<a id='5'></a>
### Автор с самой высокой средней оценкой книг

In [7]:
query = '''
        SELECT a.author, AVG(r.rating) AS average_rating
        FROM authors a
        INNER JOIN (
            SELECT b.author_id, b.book_id
            FROM books b
            INNER JOIN ratings r ON b.book_id = r.book_id
            GROUP BY b.author_id, b.book_id
            HAVING COUNT(r.rating_id) >= 50
        ) AS filtered_books ON a.author_id = filtered_books.author_id
        INNER JOIN ratings r ON filtered_books.book_id = r.book_id
        GROUP BY a.author
        ORDER BY average_rating DESC
        LIMIT 1
        '''

author_result = pd.read_sql_query(query, con=engine)

author = author_result['author'].values[0]
average_rating = author_result['average_rating'].values[0]
print("Автор:", author)
print("Средняя оценка:", round(average_rating, 2))

Автор: J.K. Rowling/Mary GrandPré
Средняя оценка: 4.29

<a id='6'></a>
### Среднее количество обзоров от пользователей, которые поставили больше 48 оценок

In [8]:
query = '''
        SELECT AVG(count_reviews)
        FROM (
            SELECT username, COUNT(*) AS count_reviews
            FROM reviews
            WHERE username IN (
                SELECT username
                FROM ratings
                GROUP BY username
                HAVING COUNT(*) > 48)
            GROUP BY username
        ) AS review_counts
        '''
average_review_count_result = pd.read_sql_query(query, con=engine)

average_review_count = average_review_count_result['avg'].values[0]
print("Среднее количество обзоров от пользователей, которые поставили больше 48 оценок:", average_review_count)

Среднее количество обзоров от пользователей, которые поставили больше 48 оценок: 24.0

**Вывод**

В ходе исследования было выявлено:
* Количество книг, вышедших после 1 января 2000 года: 819;
* Издательство, которое выпустило наибольшее число книг толще 50 страниц - Penguin Books (Количество книг: 42);
* Авторы с самой высокой средней оценкой книг - Джоан Роулинг и  Мэри ГрандПре (Средняя оценка: 4.29);
* Среднее количество обзоров от пользователей, которые поставили больше 48 оценок: 24.0.